<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- This will include the header, which contains the title and navigation bar. -->
    <%- include("header") -%>
    <main>
        <!-- This will display the recipe title and description. Different depending on which recipe 
             Was selected. -->
        <h2><%= recipe.title %></h2>
        <p><%= recipe.content %></p>
        <% if (recipe.ingredients) { %>
            <h3>Ingredients</h3>
            <ul>
                <% recipe.ingredients.forEach((ingredient) => { %>
                    <li><%= ingredient %></li>
                <% }); %>
            </ul>
        <% } %>
        
        <% if (recipe.instructions) { %>
            <h3>Instructions</h3>
            <ol>
                <% recipe.instructions.forEach((instruction) => { %>
                    <li><%= instruction %></li>
                <% }); %>
            </ol>
        <% } %>
    </main>
    <!-- This will include the footer, which contains the copyright information. -->
    <%- include("footer") -%>
</body>
</html>